In [ ]:
tup1=(28,29,"bag","toy")
for item in tup1:
  print(item)

In [ ]:
tup2=[1,9,'city','town']
for item in tup2:
  print(item)

In [ ]:
stateandcapital={'telengana':'hyderabad','andhra':'vizag','tamilnadu':'chennai'}
for capital in stateandcapital.values(): 
  print(capital)

In [ ]:
stateandcapital={'telengana':'hyderabad','andhra':'vizag','tamilnadu':'chennai'}
for state in stateandcapital.keys(): 
  print(state)

In [ ]:
stateandcapital={'telengana':'hyderabad','andhra':'vizag','tamilnadu':'chennai'}
for state,capital in stateandcapital.items(): 
  print(stateandcapital)